bin
target
.classpath
.project
.settings
src/main/webapp/META-INF
src/main/resources/META-INF/*
.idea
*.iml
*.log
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
derby.log
mvnw
mvnw.cmd
